body {
  margin: 0px;
  font-family: sans-serif;
}

h1 {
  color: #0e2452;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 8px;
}

pre {
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  margin-top: 10px;
}

ul {
  padding-left: 20px;
}
ol {
  padding-left: 20px;
}

a {
  text-decoration: none;
}

.cv-document {
  box-sizing: border-box;
  border: none;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: arial, sans-serif, tahoma;
  font-size: 10pt;
}

.cv-page {
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  width: 900px;
  min-height: 900px;
  margin: 0 auto;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  position: relative;

  padding: 40px;
}

.info-row {
  margin-bottom: 7px;
}

.info-label {
  display: inline-block;
  width: 150px;
  font-weight: bold;
}
.info-value {
  display: inline-block;
}

.avatar-img {
  width: auto;
}

.section {
  padding: 15px 0px;
}

.section-title {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.section-content {
  font-weight: normal;
  text-transform: none;
}

.row-detail {
  display: flex;
  border-bottom: 1px dotted black;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.row-label {
  flex-shrink: 0;
  flex-basis: 30%;
}
/* .row-content {
  width: 70%;
} */
.bold {
  font-weight: bold;
}

.detail-title {
  font-weight: bold;
}
.detail-content {
  white-space: pre-line;
}

.item-title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.uppercase {
  text-transform: uppercase;
}

#overall {
  display: flex;
  justify-content: space-between;
}
